<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjb.springbootauthoritymanage.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.pjb.springbootauthoritymanage.model.SysRole" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="operator" property="operator" jdbcType="VARCHAR" />
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
        <result column="operate_ip" property="operateIp" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, type, status, remark, operator, operate_time, operate_ip
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from sys_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from sys_role
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.pjb.springbootauthoritymanage.model.SysRole" >
        insert into sys_role (id, name, type,
                              status, remark, operator,
                              operate_time, operate_ip)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
                #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR},
                #{operateTime,jdbcType=TIMESTAMP}, #{operateIp,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.pjb.springbootauthoritymanage.model.SysRole" keyProperty="id" useGeneratedKeys="true">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="operator != null" >
                operator,
            </if>
            <if test="operateTime != null" >
                operate_time,
            </if>
            <if test="operateIp != null" >
                operate_ip,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="operator != null" >
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null" >
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operateIp != null" >
                #{operateIp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pjb.springbootauthoritymanage.model.SysRole" >
        update sys_role
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="operator != null" >
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null" >
                operate_time = #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operateIp != null" >
                operate_ip = #{operateIp,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pjb.springbootauthoritymanage.model.SysRole" >
        update sys_role
        set name = #{name,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            status = #{status,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR},
            operator = #{operator,jdbcType=VARCHAR},
            operate_time = #{operateTime,jdbcType=TIMESTAMP},
            operate_ip = #{operateIp,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_role
    </select>

    <select id="countByName" parameterType="map" resultType="int">
        SELECT count(1)
        FROM sys_role
        WHERE name = #{name}
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

    <select id="getByIdList" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_role
        WHERE id IN
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>